body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Patio{
    margin: 0;
    padding: 0;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.Patio img{
    width: 100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.titulo h1{
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-style: oblique;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: rgb(177, 82, 50);
    position: absolute;
    left: 35%;
    top: 2%;
}

.Carta{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 90vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 950px;
    top: -5%;
}

.Carta img{
    width: 100%;
    height: 100%;
    position: static;
    object-fit: fill;
}

.poema{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    position: absolute;
    top: 13%;
    left: 1%;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.poema p{
    font-style: normal;
    font-family: 'Fuzzy Bubbles', sans-serif;
    position: absolute;
    font-size: clamp(10px, 1.5vw, 16px);
}

.Ramo img{
    width: 40%;
    max-width: 340px;
    height: 40%;
    max-height:220px;
    position: absolute;
    left: 43%;
    top: 87%;
    transform: translateX(-30%);
}

/*compu*/
@media screen and (max-width: 1024px){

    .titulo h1{
        font-size: 7vw;
    }
    
    .poema{
    
        width: 90vw;
        left: 5%;
        font-size: 10px;
    
    }
    
    .Ramo{
        width: 60%;
    }

}

/*tablet*/
@media screen and (max-width: 768px){

    .titulo h1{
        font-size: 8vw;
        top: 3%;
    }
       
    .Carta{
        width: 95vw;
        height: 70vh;
    }
    
    .poema{
    
        width: 90vw;
        height: 70%;
        left: 2.5%;
        top: 10%;
    
    }
    
    .Ramo{
        width: 70%;
        top: 93%;
    }
    
}

/*telefono*/
@media screen and (max-width: 480px){
.titulo h1{
    font-size: 10vw;
    top: 5%;
}
   
.Carta{
    width: 98vw;
    height: 90vh;
}

.poema{

    width: 88vw;
    height: 75%;
    left: 5%;
    top: 10%;

}

.Ramo{
    width: 80%;
    top: 90%;
}

}

/*
CARTA
    width: 1000px;
    height:950px;
    position: absolute;
    left: 28%;
    top: 2%;
*/

/*
Poema
    font-style: normal;
    font-family: 'Fuzzy Bubbles', sans-serif;
    position: absolute;
    left: 34%;
    top: 19%;
*/

/*
Ramo
    width: 370px;
    height:250px;
    position: absolute;
    left: 43%;
    top: 83%;
*/
